

* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--GraphiteBlack, #1c1c1c);
  font-family: "Gotham Pro", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
  border-radius: 5px;
  height: 8px;

}
:root {
  --vc-nav-color: rgba(241, 241, 241, 0.67) !important;
  --vc-nav-color-hover: #f1f1f1!important;
  --vc-pgn-active-color: rgba(241, 241, 241, 0.67)!important;
  --vc-pgn-background-color	: #f1f1f1!important;
}


ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  li {
    color: var(--SmokeGray, #DCDCDC);

    /* TORX P.DEFAULT */
    font-family: "Gotham Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #1C1C1C;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474A51;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2F2F2;
}


#app {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}


a {
  text-decoration: none;
}
h1 {
  font-family: "Gotham Pro";
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #F2F2F2;

}

h2 {
  color: var(--SmokeGray, #F2F2F2);
  font-family: "Gotham Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  color: var(--SmokeLight, #F2F2F2);
  font-family: "Gotham Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
p {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  color: #DCDCDC;
  &.large {
    font-size: 18px;
    font-weight: 500;
  }
  &.small {
    font-size: 14px;
  }
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}
.row {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-right: 20px;


  &.justify-between {
    justify-content: space-between;
  }

  &.justify-start {
    justify-content: start;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
.fluid {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
}
.vue-notification {
  // styling
  margin: 0 5px 5px !important;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;
}
.vue-notification-wrapper {
  margin-left: 30px;
  margin-top: 30px;

  .vue-notification-template.notice {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--GraphiteGray, #b0fcb6);
    background: var(--GraphiteBlack, #1C1C1C);
    padding: 20px;
    box-sizing: border-box;

    .notification-title {
      color: var(--SmokeGray, #b0fcb6);
      font-family: "Gotham Pro";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .notification-content {
      color: var(--SmokeGray, #b0fcb6);

      /* TORX P.DEFAULT */
      font-family: "Gotham Pro";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }
  }
}
ul {
  li {
    text-align: left!important;
  }
}
@media screen and (max-width: 1140px) {

  h1 {  font-size: 48px; }
  h2 {  font-size: 38px; }
  h3 {  font-size: 32px; }
}

@media screen and (max-width: 992px) {
  h1 {  font-size: 42px; }
  h2  {  font-size: 34px; }
  h3  {  font-size: 26px; }
}

@media screen and (max-width: 768px) {
  h1 {  font-size: 42px; }
  h2 {  font-size: 34px; }
  h3 {  font-size: 26px; }
}

@media screen and (max-width: 576px) {
  h1 {  font-size: 36px; }
  h2 {  font-size: 28px; }
  h3 {  font-size: 22px; }
}